.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 2rem;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 20px;
    cursor: pointer;
}

.img{
    position: relative;
}

.img svg{
    color: #fff;
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
}

.img img{
    border-radius: 10px;
}

.content{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title{
    font-family: var(--playfair);
    font-size: 1.3rem;
}

.date{
    font-size: 1.3  rem;
}